.personal__data{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    border-radius: 16px;
    padding:16px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(140,125,140,1);
-moz-box-shadow: 0px 0px 30px 0px rgba(140,125,140,1);
box-shadow: 0px 0px 30px 0px rgba(140,125,140,1);
margin-bottom: 32px;
  
}

.individual__data{
    
        display: flex;
        flex-direction: column;
        max-width: 400px;
        border-radius: 16px;
        padding:16px;
        margin-bottom: 32px;
        border: 2px solid black;
      
    
}

.fullname{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width:480px){
    .personal__data{
        min-width: 300px;
    }
}
